*, *:before, *:after
{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body
{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body
{
  background: #444444;
  color: #cccccc;
  /*
  background: #000000;
  */
  font-size: 14px;
  /* Helvetica/Arial-based sans serif stack */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.main-contaner
{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

  /*
  background: rgba(255, 255, 255, .1);
  */
  border: 1px solid #8888bb;
  /* border-radius: 7pt; */
}

.main-item
{
  /*
  padding: 8px;
  */
}

.main-item.fix
{
  padding: 8px;
}

.main-item.stretch
{
  padding: 4px;
}

.main-item-grow
{
  flex: 1; /* same as flex: 1 1 auto; */
}

.main-item.header
{
  background: rgba(255, 0, 0, .1);
}
.main-item.footer
{
  background: rgba(0, 255, 0, .1);
}
.main-item.content
{
  /*background: rgba(0, 0, 255, .1);*/
  background: rgba(0, 0, 0, 1);
}

.filer-body
{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.filer-body.sub
{
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

/*
.filer-body-common
{
  border: 1px solid #8888bb;
  flex: auto;
}
*/

.pane-item-list.sub
{
  border: 1px solid #FF0000;
  flex: auto;
  /*
  overflow-y: scroll;
  flex-flow: column nowrap;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohidding-scrollbar;
  */
  /* min-height: 0px; */
  list-style-type: none;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  max-width: 50%;
  max-height: 100%;
  /*
  */
  /*
  max-width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  */
}

.pane-cmd
{
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch;
  align-content: stretch;
  /*
  flex-wrap: wrap;
  flex: auto;
  */
  background: rgba(0, 0, 0, 1);

  width: 100%;
  list-style-type: none;
  color: #ffffff;
  padding: 0px;
  margin: 0px;


  border: 1px solid #8888bb;
  /*
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 20px;
  overflow-x: elipsis;
  */
}

.pane-cmd.sub
{
  /*
  flex-grow: 1;
  flex-shrink: 1;
  */
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-x: ellipsis
}

